.idea
/auth-service/authApp
/broker-service/brokerApp
/front-end/frontApp
/front-end/frontendApp
/log-service/logsApp
/mail-service/mailApp
/listener-service/listenerApp
/db-data/mongo/*
/db-data/rabbitmq/*